p {
      font-family: 'Raleway', sans-serif;
      color: black;
      text-align: justify;
    }
h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}
.page-title{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  color: black;
}
.big {
  font-size: 35;
}
.uppercase {
  text-transform: uppercase;
}
.black_container {
  background-color: black;
}
.white {
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  color: white;
}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shadow {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
.round_corners {
  border-radius:13px;
}
.fill {
    min-height: 100%;
    height: 100%;
}
.zoom {
  padding: 10px;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #989898;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
