p {
      font-family: 'Raleway', sans-serif;
      color: black;
      text-align: justify;
    }
h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}
.page-title{
  font-family: 'Muli', sans-serif;
  text-align:center;
  color: black;
}
.big {
  font-size: 35;
}
.uppercase {
  text-transform: uppercase;
}
.black_container {
  background-color: black;
}
.white {
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  color: white;
}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
