p {
      font-family: Arial;
      color: blue;
      text-align: center;
    }
h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}
.big {
  font-size: 35;
}
.uppercase {
  text-transform: uppercase;
}
#Joke_1 {
  font-family: cursive;
  color: green
}
.publish-time {
  color: gray;
}
