p {
  font-family: 'Raleway', sans-serif;
  color: black;
  text-align: justify;
}

h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}

.page-title {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  color: black;
}

.big {
  font-size: 35;
}

.uppercase {
  text-transform: uppercase;
}

.black_container {
  background-color: black;
}

.white {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: white;
}

.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.shadow {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

.round_corners {
  border-radius: 13px;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #989898;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* entire container, keeps perspective */
.card-container {
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
  margin-bottom: 30px;
}

/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .card,
.card-container.hover.manual-flip .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-container.static:hover .card,
.card-container.static.hover .card {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  transform: none;
}

/* flip speed goes here */
.card {
  -webkit-transition: -webkit-transform .5s;
  -moz-transition: -moz-transform .5s;
  -o-transition: -o-transform .5s;
  transition: transform .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 3;
}

.back .btn-simple {
  position: absolute;
  left: 0;
  bottom: 4px;
}

/*        Style       */
.card {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 4px;
  color: #444444;
}

.card-container, .front, .back {
  width: 100%;
  height: 420px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
}

.card .cover {
  height: 280px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}

.card .cover img {
  width: 100%;
}

.card .user {
  border-radius: 50%;
  display: block;
  height: 120px;
  margin: -55px auto 0;
  overflow: hidden;
  width: 120px;
}

.card .user img {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 4px solid #FFFFFF;
  width: 100%;
}

.card .content {
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 10px 20px 20px;
}

.card .content .main {
  min-height: 40px;
}

.card .back .content .main {
  height: 215px;
}

.card .name {
  font-family: Courier, cursive;
  font-size: 22px;
  line-height: 28px;
  margin: 10px 0 0;
  text-align: center;
  text-transform: capitalize;
}

.card h5 {
  margin: 5px 0;
  font-weight: 400;
  line-height: 20px;
}

.card .location {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

.card .footer {
  border-top: 1px solid #EEEEEE;
  color: #999999;
  margin: 30px 0 0;
  padding: 10px 0 0;
  text-align: center;
}

.card .footer .social-links {
  font-size: 18px;
}

.card .footer .social-links a {
  margin: 0 7px;
}

.card .footer .btn-simple {
  margin-top: -6px;
}

.card .header {
  padding: 15px 20px;
  height: 90px;
}

.card .motto {
  font-family: Courier, cursive;
  border-bottom: 1px solid #EEEEEE;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
}

.card .stats-container {
  width: 100%;
  margin-top: 50px;
}

.card .stats {
  display: block;
  float: left;
  width: 33.333333%;
  text-align: center;
}

.card .stats:first-child {
  border-right: 1px solid #EEEEEE;
}

.card .stats:last-child {
  border-left: 1px solid #EEEEEE;
}

.card .stats h4 {
  font-family: Courier;
  , cursive;
  font-weight: 300;
  margin-bottom: 5px;
}

.card .stats p {
  color: #777777;
}
