p {
      font-family: 'Raleway', sans-serif;
      color: black;
      text-align: justify;
    }
h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}
.page-title{
  font-family: 'Muli', sans-serif;
  text-align:center;
  color: black;
}
.big {
  font-size: 35;
}
.uppercase {
  text-transform: uppercase;
}
.black_container {
  background-color: black;
}
.white {
  font-family: 'Ubuntu', sans-serif;
  text-align:center;
  color: white;
}
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shadow {
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}
.round_corners {
  border-radius:13px;
}
.fill {
    min-height: 100%;
    height: 100%;
}
.zoom {
  padding: 20px;
  transition: transform .2s;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}
