p {
      font-family: Arial;
      color: blue;
      text-align: center;
    }
h1 {
  font-family: Courier;
  text-align: center;
  color: maroon;
}
.page-title{
  font-family: 'Muli', sans-serif;
  text-align:center;
}
.big {
  font-size: 35;
}
.uppercase {
  text-transform: uppercase;
}
